.container {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  position: relative;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  align-items: center;
}
.navbar_bg_top {
  width: 100%;
  height: auto;
  display: block;
  font-size: 0;
  z-index: 1;
}
.filler_div {
  width: 100%;
  height: 4rem;
  background: #fff8f8;
}
.top_svg {
  width: 100%;
  height: auto;
}
.navbar_bg_bottom {
  background-image: linear-gradient(
    to top,
    #fff8f8,
    #fff8f8 4.2rem,
    transparent 50%
  );
  width: 100%;
  height: auto;
  z-index: 1;
  font-size: 0;
}
.filler_div_bottom {
  width: 100%;
  height: 4rem;
  background: #fff8f8;
}
.bottom_svg {
  width: 100%;
}
.recent {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.recent_blogs {
  display: flex;
  align-items: center;
  color: #42240c;
}
.recent_h2 {
  margin-left: 5px;
}
.lines {
  margin: 5px;
  display: flex;
  align-items: center;
}
.line {
  margin: 5px;
}
@media screen and (min-width: 3000px) {
  .container {
    height: 100vh;
  }
}
