.container {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  position: relative;
  margin-top: 0 !important;
  background-image: url("../images/backgroundbanner.png");
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  align-items: center;
}
.navbar_bg_top {
  width: 100%;
  height: auto;
  display: block;
  font-size: 0;
  z-index: 1;
}
.filler_div {
  width: 100%;
  height: 4rem;
  background: #fff8f8;
}
.top_svg {
  width: 100%;
  height: auto;
}
.navbar_bg_bottom {
  background-image: linear-gradient(
    to top,
    #fff8f8,
    #fff8f8 4.2rem,
    transparent 50%
  );
  width: 100%;
  height: auto;
  z-index: 1;
  font-size: 0;
}
.filler_div_bottom {
  width: 100%;
  height: 4rem;
  background: #fff8f8;
}
.bottom_svg {
  width: 100%;
}
.login_window {
  position: relative;
  margin: 1rem;
  border-radius: 1rem;
  background-color: #fff8f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: 895px;
  height: 607px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 80%;
  padding: 0 5rem;
}
.title {
  color: #42240c;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 3px;
  font-size: 30px;
}
.line {
  width: 200px;
  height: 3px;
  background-color: #42240c;
  opacity: 0.7;
}
.title_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image {
  height: 100%;
}
.or {
  color: #42240c;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.welcome {
  color: #42240c;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-top: 15px;
  text-align: center;
}
.form button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 50px;
  padding: 7px 15px;
  color: #fff8f8;
  font-family: "Poppins", sans-serif;
  font-size: 600;
}
.input {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #42240c;
  width: 400px;
  background: none;
  border: none;
  border-bottom: rgba(66, 36, 12, 0.5) solid 1px;
}
.input::placeholder {
  color: #42240c;
  opacity: 0.7;
}
.input:focus {
  outline: none;
}
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.continue_button {
  background-color: #42240c;
  width: 8.4rem;
  font-size: 15px;
  margin: 20px 17px;
}
.google_button {
  background-color: #ea3f27;
  width: 11rem;
  margin-top: 17px;
}
@media screen and (max-width: 945px) {
  .image {
    display: none;
  }
  .login_window {
    width: 90%;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-height: 844px) {
  .login_window {
    height: 100%;
  }
  .welcome {
    font-size: 10px !important;
  }
  .form{
    width: 400px;
  }
  .input{
    width: 300px;
    font-size: medium;
  }
  .title_container{
    margin-bottom: 20px;
  }
  .continue_button {
    width: 7rem;
    font-size: 10px;
    margin: 10px 7px;
  }
  .google_button {
    width: 10rem;
    margin-top: 7px;
  }
}
@media screen and (max-width: 550px) {
  .login_window {
    height: 60%;
  }
  .input {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #42240c;
    width: 100%;
  }
  .form {
    padding: 4rem;
    width: 700px;
    height: 100%;
  }
  .continue_button {
    background-color: #42240c;
    width: 6.5rem;
    font-size: 10px;
    margin: 5px;
  }
  .google_button {
    background-color: #ea3f27;
    width: 10.5rem;
    margin-top: 5px;
  }
  .title {
    font-size: 20px;
  }
  .form button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 50px;
    padding: 3px 10px;
    color: #fff8f8;
    font-family: "Poppins", sans-serif;
    font-size: 600;
  }
  .welcome {
    font-size: 13px;
  }
  .line {
    width: 120px;
  }
}
