.navbar_container {
  position: relative;
}
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  position: absolute;
  z-index: 2;
  padding: 1% 10% 0;
}
.navbar_bg_top {
  width: 100%;
  height: auto;
  display: block;
  font-size: 0;
  z-index: 1;
  position: absolute;
}
.filler_div {
  width: 100%;
  height: 4rem;
  background: #fff8f8;
}
.top_svg {
  width: 100%;
  height: auto;
}
.navbar div {
  font-size: 0;
}

.links {
  width: 50rem;
}

.links_ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 5rem;
}
.links_li {
  position: relative;
  display: flex;
}
.links_a {
  text-decoration: none;
  color: #42240c;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 17px;
}
.log_in {
  text-decoration: none;
  color: #42240c;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  border: 1px solid #42240c;
  border-radius: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 17px;
  width: 120px;
  height: 35px;
  opacity: 100%;
}
.sign_up {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #fff8f8;
  background: #42240c;
  border-radius: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 17px;
  width: 120px;
  height: 35px;
  opacity: 100%;
}
.sign_up:hover {
  background: #5c3a1f;
}
.log_in:hover {
  background: #ffeaea;
}
.links_a::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  background-color: #42240c;
  transition: transform 200ms ease-in-out;

  transform: scaleX(0);
}

.links_a:hover::before,
.links_a:focus::before {
  transform: scaleX(1);
}
.menu {
  display: none;
}
.icon {
  cursor: pointer;
  border-radius: 50%;
}
.log_in_out {
  display: flex;
  justify-content: space-between;
  width: 40%;
}
.pages {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
@media screen and (max-width: 900px) {
  .links_ul {
    display: none;
  }
  .navbar a img {
    width: 150px !important;
  }
  .menu {
    display: inline-block;
  }
}
@media screen and (max-width: 1220px) {
  .links_ul {
    margin-left: 7%;
  }
  .links_li a {
    font-size: 1.3vw;
  }
  .navbar a img {
    width: 100%;
  }
  .log_in,
  .sign_up {
    width: 101px;
    height: 33px;
  }
  .navbar {
    padding: 2% 10% 0;
  }
}
